.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  height: 100vh;
}

/* image-description */
.image-desc-container {
  /* background-image: linear-gradient(rgb(22, 22, 29), rgb(22, 22, 29));
  background-color: black; */

  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

/* Image */
.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7vh 10vh;
  position: relative;
  top: 0;
  z-index: 10;
  animation: move-left 2s ease-out forwards;
  animation-delay: 0.2s;
  /* opacity: 0.5; */
}
@keyframes move-left {
  from {
    padding-right: 0;
    opacity: 0.9;
  }
  to {
    padding-right: 30vw;
    opacity: 1;
  }
}

.profile {
  height: 40vh;
  width: 37vh;
  border-radius: 50%;
}

/* Description */
.desc-container {
  position: absolute;

  padding: 5vh 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: move-right 2s ease-out forwards;
  animation-delay: 0.2s;

  opacity: 0.5;
}
@keyframes move-right {
  from {
    padding-left: 0;
    opacity: 0.5;
  }
  to {
    padding-left: 30vw;
    opacity: 1;
    /* width: 50vh; */
  }
}
.desc {
  font-family: "Caveat", cursive;
  text-align: center;
  width: 30vh;
  animation: expand 2s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes expand {
  from {
    font: size 1vh;
  }
  to {
    font-size: 7vh;
    width: 30vw;
    padding-right: 5vh;
  }
}

/* stylish text */
.stylish-text {
  border: 4px solid white;
  width: fit-content;
  text-align: center;
  margin: 10px auto 0;
  padding: 4px;
  border-style: double;
  border-bottom-left-radius: 10px;
}
