html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --cultured: #efefefff;
  --cultured-dim: rgb(184, 184, 184);
  --cerulean-blue: #3454d1ff;
  --turquoise: rgb(52, 209, 191);
  --rich-black-fogra-39: rgb(7, 7, 7);
  --cerise: #d1345bff;
}

/** Particles bg */

.particles-bg-canvas-self {
  background-color: var(--rich-black-fogra-39);
  height: 100vh;
}

/* * Name and Description */
.first-container {
  height: 100vh;
  display: flex;
  font-size: 10vmin;
  justify-content: center;
  flex-direction: column;
}
.my-image-container {
  margin-top: 2vh;
  padding-top: 2vh;
}
.my-image-container > .row {
  justify-content: center;
  padding-bottom: 15vh;
}
.my-image-col {
  align-items: center;
}
.my-img {
  height: inherit;
  width: inherit;
}

.second-container {
  padding-left: 2rem;
}
.name-is {
  color: var(--cultured);
}
.name {
  color: var(--turquoise);
}
.a {
  display: block;
  color: var(--cultured);
  font-size: 8vmin;
}
.typed-text {
  color: var(--cerise);
  padding-left: 0;
  margin-left: 0;
  text-transform: capitalize;
}
.third-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.down-icon {
  color: rgba(239, 239, 239, 1);
  opacity: 0.5;
  font-size: 3rem;
}
/* * Education */
.education-container {
  background-color: var(--cultured);
  padding: 5vmin;
}

/* * Projects */

.projects-heading {
  font-size: 3rem;
  color: var(--cultured-dim);
  text-align: center;
  /* padding: 0 0 rem; */
}
#rule {
  width: 80%;
  border: 1px solid var(--cultured-dim);
  margin-bottom: 2rem;
}

.list-group-item.active {
  background-color: var(--turquoise) !important;
  border-color: var(--turquoise) !important;
}
.list-group-item.active:hover {
  background-color: var(--turquoise);
  border-color: var(--turquoise);
}

.projects-container {
  background-color: var(--rich-black-fogra-39);
  padding: 7.5vmin;
}

.project-image {
  height: inherit;
  width: inherit;
  padding: 0.3rem 0;
}
.project-tech-stack {
  width: inherit;
  padding: 0.5rem 0 0.2rem;
}

.project-tech-stack span {
  margin: 0.5rem 0.2rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  word-wrap: break-word;
}

.project-title {
  color: var(--cultured);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cerise);
  word-spacing: 0.5rem;
}

.project-desc {
  margin-top: 0.5rem;
  background-color: var(--cultured);
  color: var(--rich-black-fogra-39);
  padding: 1rem 1rem;
  word-spacing: 0.5rem;
  text-align: justify;
  border-radius: 2%;
}
.project-link a {
  text-decoration: none;
  color: var(--cerulean-blue);
}
.project-link a:hover {
  text-decoration: none;
  color: var(--cerise);
}

.project-link {
  text-align: right;
}

/* * Experiences */
.experience-item-container {
  position: relative;
}
.experience-item-container img {
  filter: brightness(40%);
  object-fit: cover;
  object-position: center;
  height: 100vh;
}
.carousel-caption {
  bottom: 30% !important;
  top: 30% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.carousel-caption h3 {
  /* font-size: 3rem; */
  text-shadow: 3px 2px var(--rich-black-fogra-39);
}
.carousel-caption p {
  padding-top: 1rem;
  /* font-size: 1.5rem; */
}

/* *EXC */
.exc-wrapper {
  height: 100vh;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    var(--cultured),
    rgb(7, 7, 7)
  );
  width: 100vw;
  padding: 0 10%;
}

.exc-container {
  /* border: 1px solid black; */
  height: inherit;
  align-items: center;
  justify-content: center;
}
.exc-item-container {
  /* border: 1px solid red; */
  height: 80vh;
}

.exc-text {
  display: flex;
  height: inherit;

  justify-content: center;
  align-items: center;
  color: var(--cultured);
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exc-text h1 {
  text-shadow: 1px 1px var(--rich-black-fogra-39);
  padding-top: 2vh;
  margin: 0;
}
.exc-text {
  padding-bottom: 2vh;
}

#exc-dance {
  background: rgba(209, 52, 91, 0.9);
  /* overflow: hidden; */
  position: relative;
}
#exc-dance img {
  object-fit: cover;
  opacity: 0.6;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#exc-bball {
  background: rgba(52, 84, 209, 0.9);
  /* overflow: hidden; */
  position: relative;
}
#exc-bball img {
  object-fit: cover;
  opacity: 0.6;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#exc-fball {
  background: rgb(52, 209, 191, 0.9);
  /* overflow: hidden; */
  position: relative;
}
#exc-fball img {
  object-fit: cover;
  opacity: 0.6;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .exc-wrapper {
    height: 100vh;
    align-items: center;
    text-align: center;
  }

  .exc-container {
    padding: 10% 0;
    flex-direction: column;
  }
  .exc-item-container {
    max-width: 100% !important;
    height: 33.33%;
  }
}

/* * Social Follow */
.sf-wrapper {
  align-items: center;
  text-align: center;
  /* height: max-content; */
  padding: 5% 5%;
  position: relative;
  /* overflow: hidden; */
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
}
.hrule {
  height: fit-content;
  padding: 0 !important;
}
.sf-wrapper hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid var(--rich-black-fogra-39);
  width: 80%;
}

#sn-bg {
  object-fit: cover;
  opacity: 0.6;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sf-heading-container {
  margin-bottom: 0;
}
.sf-heading h1 {
  font-size: 2rem;
  text-shadow: 2px 2px var(--cultured-dim);
  color: black;
}

.sf-container {
  height: 20%;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}
.sf-item-container {
  font-size: 2rem;
  align-items: center;
  height: 4rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem !important;
  margin: 1vh 1vw;
  background-color: var(--cultured);
  opacity: 0.7;
  width: 4rem !important;
  /* cursor: pointer; */
}
.sf-item-container:hover {
  opacity: 1;
}

.sf-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ln {
  color: rgba(0, 119, 181, 1);
}
#gh {
  color: rgba(51, 51, 51, 1);
}
#ws {
  color: rgb(7, 94, 84);
}
#gm {
  color: rgb(197, 47, 52);
}
#fb {
  /* bgcolor: rgb(177, 233, 184) */
  color: rgb(59, 89, 152);
}
#ig {
  color: rgb(225, 48, 108);
}
#tg {
  color: rgb(0, 136, 204);
}
#tw {
  color: rgb(29, 161, 242);
}
@media only screen and (max-width: 992px) {
  .sf-item-container {
    opacity: 1;
  }
}
a.nostyle:link,
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  width: inherit;
}

/* * Footer */

.footer-wrapper {
  text-align: center;
  background-color: black;
  color: var(--rich-black-fogra-39);
  font-weight: 600;
}
.footer-container {
  background-color: rgba(239, 239, 239, 0.7);
}
.text-container {
  padding: 0.3rem 0;
}
.copyable {
  padding: 0.3rem 0;
}
.copy-clicked {
  padding: 0.3rem 0;
  color: rgba(3, 117, 3, 0.5);
}
